@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&family=Roboto+Mono:wght@300&display=swap');
.forms{
    display: flex;
    padding-left: 950px;
    align-items: right;
}
.submit{
    margin-top: 20px;
    font-size: 15px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    
    opacity: 0.8;
    border:none;
    border-radius: 5px;
    
}
/* .submit:active{

} */
.email,.query{
    padding: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.5;
    width: 200px;
    border-radius: 10px;
}
.whatdoyouknow{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 35px;
   
}
.center{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}
.fields{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    display : flex ;
    justify-content: space-between;
    margin : 20px;

}

.click{
    border : none;
    margin-top: 10px;
    background-color: aqua;
    padding: 10px;
    font-size: 50px;
    border-radius: 10px;
}
.click:hover{
    background-color: green;
}
.click:active{
    opacity: 0.5;
}
.left{
    float: left;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.forms {
    float: right;
    width: 300px;
    padding: 20px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
 
  }